h3{
    
    background-color:rgba(220, 188, 177, 0.623)
}
h2 {
   
    text-decoration:underline;
}
h1 {
    
    background-color:rgba(220, 188, 177, 0.623)
}

img{
    border: 5px solid black;
}
html {
    background-image:url("../back.png") ;
    background-size: cover;
}
