
 h3{
    font-size: 300%;
    color:rgb(126, 89, 77);
    margin-left: 20px;
    text-shadow: 4px 4px 5px white;
 }
.who{
    font-size: 537%;
    font-style:normal;
    color:rgb(126, 89, 77);
    text-shadow: 3px 3px 5px white;
    
}
main {
    display: flex; 
    justify-content: space-between;
    align-items:center;
    background-color: aliceblue;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
   
}
#head-back{
    background-color: rgba(220, 188, 177, 0.915);
    border-radius: 10px;
    margin-right: 28px;
    margin-left: 435px;
    height: 396px;
}

.title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    -webkit-text-fill-color: rgb(126, 89, 77);;
    font-size: 400%;
    background-color:rgba(220, 188, 177, 0.623);
    padding: 10px 30px ;
    width:95%;
     margin: auto;
     margin-bottom: 30px;
    border:10px rgba(220, 188, 177, 0.623) solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    background-image:url("../back.png") ;
    background-size: cover;
}
a{
    text-decoration: none;
   
   color:rgb(126, 89, 77);
   font-size: 125%;
}
.white{
    background-color: aliceblue;
    padding: 10px  ;
    height: 40px;
    width:65%;
     margin:auto;
    border-radius:10px ;
    border-color: rgba(220, 188, 177, 0.623) ;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.me-img{
    position:relative;
    left: -137px;
    bottom: -7px;
   float: left;
   margin-left: 150px;
   margin-bottom: 15px;
   width: 345px;
   height: 450px;
   border: 10px;
   border-radius: 5px;
   border-color: rgba(220, 188, 177, 0.915);
   border-style: solid;

}
#hobbies{
    border-radius: 10px;
    height: 400px;
    margin-bottom: 13px;
    margin-top: 33px;
    margin-left: 20px;
    margin-right: 20px;
    
}
#imgs{
    
    margin-left: 211px;
    margin-top: -15px;
    margin-bottom: 40px;
    border-radius: 10px;
    border-color:rgb(126, 89, 77);
    border-style: solid;
    border-width: 8px;

}
#pics{
    background-color:  rgba(220, 188, 177, 0.915);
    border-radius: 10px;
   outline: aliceblue solid 20px;
    height: 400px;
    
}
#links{
    margin-left: 265px;
    margin-right: 71px;
    font-size: 170%;
    text-decoration: underline;
    color: rgb(126, 89, 77);

}
#form{
    background-color:rgba(220, 188, 177, 0.915);
    padding: 10px  ;
    width:96.5%;
     margin: auto;
     margin-bottom: 70px;
     margin-top: 65px;
     margin-left: 20px;
    border-radius: 10px;
    outline: aliceblue solid 20px;
    height: 300px; 
}
button {
    padding: 10px;
    color:rgb(126, 89, 77);
    outline: rgb(158, 115, 101) solid  5px;
    border-radius: 5px;
    margin-left: 10px;
    font-family: monospace;
    cursor: pointer;
}
Input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    height: 20px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    margin: 10px 0;
    outline: rgb(126, 89, 77) solid 2px;
    
  }
#grow{
    background-color:rgba(220, 188, 177, 0.915) ;
    padding: 10px  ;
    width:96.5%;
     margin: auto;
     margin-bottom: 70px;
     margin-left: 20px;
    outline: aliceblue solid 20px;
    border-radius: 10px;
    height: 300px;
    
  }
#project{
    background-color:rgba(220, 188, 177, 0.915) ;
    padding: 10px  ;
    width:96.5%;
     margin: auto;
     margin-top: 20px;
     margin-bottom: 30px;
     margin-left: 20px;
    border-radius: 10px;
    outline: aliceblue solid 20px;
    height: 200px;
  }
  #label{
   margin-left: 40px;
   margin-top: 20px;
   display: flex;
   align-items:center;
   justify-content:center;
  }
  
  

